<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Course</title>
  </head>
  <body>
    <h1><%= degree.title %> Degree</h1>
    <h2>Create a course</h2>
    <form action="/degrees/<%= degree._id %>/courses" method="POST">
      <section>
        <label for="title">Course Title</label>
        <input type="text" name="title" id="title" placeholder="Course title" />
      </section>
      <section>
        <label for="price">Course price</label>
        <input
          type="number"
          name="price"
          id="price"
          placeholder="Course price"
        />
      </section>
      <section>
        <label for="category">Course Category</label>
        <select name="category" id="category">
          <% for(category of categories) { %>
          <option value="<%= category.code %>">
            <%= category.displayName %>
          </option>
          <% } %>
        </select>
      </section>
      <button>Submit</button>
    </form>
    <a href="/degrees/<%= degree._id %> ">Back to the Degree</a>
  </body>
</html>
