<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= degree.title %></title>
  </head>
  <body>
    <h1><%= degree.title %></h1>
    <ul>
      <li>Title: <%= degree.title %></li>
      <li>Credits: <%= degree.totalCredits %></li>
      <li>Department: <%= degree.department %></li>
    </ul>
    <h2>Courses</h2>
    <% for(const course of degree.courses) { %>
    <li><a href="/courses/<%= course._id %> "><%= course.title %></a></li>
    <% } %>
    <a href="/degrees/<%= degree._id %>/courses/new">Add course</a>
    <a href="/degrees">All Degrees</a>
  </body>
</html>
